<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214075105239-l8h8dp0q3f01ctiksgck8bedkm1e61no.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214075105239-l8h8dp0q3f01ctiksgck8bedkm1e61no</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>214075105239-3k4r3etn381i5him7ojetheo87pbu0il.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBiFosYA85Sxgw2AdQ4pwgLNUqZ2S_PFuk</string>
	<key>GCM_SENDER_ID</key>
	<string>214075105239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.refereeiq.refereeiq</string>
	<key>PROJECT_ID</key>
	<string>refereeiq-69cff</string>
	<key>STORAGE_BUCKET</key>
	<string>refereeiq-69cff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214075105239:ios:9627b9299e2b9f85ee3592</string>
</dict>
</plist>