# Flutter & Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.buildlog/
.melos_tool/

# Project-specific
.env
.env.*
*.apk
*.ipa
*.log
*.lock

# Flutter build output
build/
dist/

# Firebase
functions/.runtimeconfig.json

# Android
/android/.gradle/
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/key.properties
**/*.keystore
**/*.jks
*.iml
*.hprof

# Android NDK / JNI
android/.cxx/
GeneratedPluginRegistrant.java

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/ServiceDefinitions.json
ios/Runner.xcworkspace/

# macOS
macos/Flutter/ephemeral/

# Web
web/.dart_tool/
web/.build/

# VS Code
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/
